
body{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    width: 50%;
    margin: auto;
    margin-top: 100px;
}
.light-header{
    box-shadow: 0 0 15px springgreen;
}

.dark-header{
    box-shadow: 0 0 25px rgb(0,0,97);
    color: white;
}

.dark-body{
    background-color: black;
    box-shadow: 0 0 25px rgb(0,0,97) inset;
}

.light-body{
    background-color: white;
}